<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">All Contacts</a></li>
            <li><a href="/new">New Contact</a></li>
        </ul>
    </nav>
    <section id="new">
        <h2>Add a new contact</h2>
        <form action="/new" method="POST">
            <input type="text" name="name" id="" placeholder="name">
            <input type="text" name="email" id="" placeholder="email">
            <input type="text" name="phone" id="" placeholder="phone">
            <input type="text" name="imgURL" id="" placeholder="image URL">
            <input type="submit" value="ADD NEW CONTACT">
        </form>
    </section>
</body>

</html>